
//変数・関数
$color-01 : #f5fbef ;
$color-02 : #61707d ;
$color-03 : #9d69a3 ;
$transition-time: 0.3s ;
$font-size: min(max(2.0vw,16px),20px);
$responsive-bound: 750px;


/*全体,汎用*/
*{
    margin:0;
    padding:0;
}
html{
    font-size: $font-size;
    color:black;
    word-wrap: break-word;
}
body{
    font-family: 'M PLUS 1p', sans-serif;    margin:0;
    padding:0;
    background:$color-01;
}
img{
    width:100%;
    height:auto;
    max-width: min(100%,90vw);
}
b{
    font-size: 1.1em;
}
.ta-center{
    text-align: center !important;
}
.ta-left{
    text-align: left !important;
}
.ta-right{
    text-align: right !important;
}
.disp-ib{
    display:inline-block;
}
.disp-i{
    display:inline;
}
.disp-b{
    display:block;
}


/* header */
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    position:fixed;
    left: 0;
    top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width:100%;
    opacity: 0.99;
    word-wrap: break-word;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);

    b{
        color:$color-03;
    }
    img{
        width:5vmin;
        height:5vmin;
        margin-right: 10px;
    }
    div{
        display: flex;
    }
    ul{
        list-style: none;
        display: flex;
        li{
            margin-left:0.3rem;
            a{
                color:black;
                text-decoration: none;
                transition: $transition-time / 2;
                &:hover{
                    color:cyan;
                    transition: $transition-time ;
                }
            }
        }
    }
    #header-menu-btn{
        display:none;
    }
}


/* main */
main{
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom:20vh ;
        padding:5vh 1rem;
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);

        &:first-child{
            margin-top: 5vmin * 1;
        }
        &:nth-child(2n+1){
            background-color: white;
            color:black;
        }
        &:nth-child(2n){
            background-color: $color-02;
            color:white;
        }
        & > div{
            width: 100%;
        }

        img{
            max-width: 90vw;
            margin:1rem 0;
        }

        h1{
            font-size: 4rem;
        }
        h2{
            font-size: 2rem;
        }
        h3{
            font-size: 1.5rem;
        }
        &.top-move-bt-sec{
            padding:0;
        }
    }
}

/* footer */
footer{
    text-align: center;
    background-color: $color-02;
    color: white;
    font-size: 6vw;
    padding-top: 10vh;
    padding-bottom: 20vh;
}


/* 汎用コンポーネント */
.fbe-button{
    text-decoration: none;
    color:$color-03;
    background:white;
    border:$color-03 5px solid ;
    border-radius:0.5rem;
    padding:0.5em 2em;
    display: inline-block;
    margin:0.5rem;
    transition:$transition-time ;
    &:hover{
        background-color: $color-03;
        color:white;
        transition:$transition-time ;
    }
    &:active{
        box-shadow: 0 0 10px 0 rgba(0,0,0,1);
    }
}

hr{
    margin: 2rem 0;
}

ul{
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: center;
}




/* レスポンシブ */
@media screen and (max-width: $responsive-bound) {
    html{
        font-size: 16px;
    }
    header{

        text-align: center;
        justify-content: center;
        padding: 0.3rem 0;
        font-size: 0.8rem;

        img{
            display: none;
        }
        ul{
            display: flex;
            width: 100vw;
            height: 0;
            position: fixed;
            left: 0;
            top: 0;
            transition:$transition-time;
            overflow: hidden;
        }

        &:hover{
            height: 0;
            overflow: hidden;
            div{
                display: none;
            }
            ul{
                height: 60vh;
                padding:1rem 0 3rem 0;
                flex-direction: column;
                align-items: center;
                font-size: 1.5rem;
                background: white;
                box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
                transition:$transition-time /3;
                li{
                    margin:0;
                    margin-bottom: 0.75rem;
                }
            }
        }
    }
    main{
        section{
            padding:inherit 10px;
            h1{
                font-size: 10vw;
                margin:2rem 0;
            }
            h2{
                font-size: 7.5vw;
            }
            h3{
                font-size: 2.5vw;
            }

        }
    }
    .fbe-button{
        box-sizing: border-box;
        max-width:90%;
        padding:0.2em 5vw ;
        margin:1rem 0;
    }
}



