
div#menu{
    position:fixed;
    right: 0px;
    bottom: 0px;
    min-height:20vh;
    padding:0.7rem;
    background:white;
    overflow: hidden;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}
div#menu *{
    display: block;
    width:100%;
    word-wrap: break-word;
    margin: 0;
    padding:0;
}
div#menu{
    min-height: 5vw;
    overflow: hidden;
    font-size: 0;
    margin: 0;
    padding: 0.9rem;
}
div#menu::after{
    content: "MENU";
    font-size: 1rem;
}
div#menu:hover{
    width: auto;
    height: auto;
    max-width: 100vw;
    max-height: 70vh;
    overflow: auto;
    font-size: 1rem;
    padding: 0.7rem;
    z-index:10000;
    padding-bottom: 10vh;
}
div#menu:hover::after{
    content:"";
}

main.tp section ul{
    list-style-type:decimal;
}

main.tp ul{
    list-style-type: none;
}

main.tp .top-bottom-margin{
    margin-top:2rem;
    margin-bottom:2rem;
}

div.tutorial_anchors{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    width:100%;
}
div.tutorial_anchors > div{
    text-align: center;
    text-decoration: none;
}
div.tutorial_anchors > div a{
    text-decoration: none;
    font-size:1.2rem;
}



