
main.tp03{
    dd{
        padding-left: 3em;
    }
    div.code{
        display: inline-block;
        min-width: 50%;
        margin:1rem 0.3rem;
        padding:0.5rem;
        background: rgb(243, 243, 243);
    }
}





